/* body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h1, h2 {
    color: #333;
  }
  
  ul {
    list-style-type: none;
  }
  
  #projects li {
    margin-bottom: 5px;
  }
  
  #contact p {
    margin-top: 0;
  }
   */
body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  font-size: 24px;
}

section {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
}

h1, h2 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

#projects li {
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#projects li:hover {
  background-color: #f1f1f1;
}

#contact p {
  margin-top: 0;
}

@media (max-width: 768px) {
  header {
    font-size: 20px;
  }
}
