body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

section {
  margin-bottom: 20px;
}

h1, h2, h3, h4 {
  color: #333;
}

ul {
  list-style-type: none;
}

#projects li {
  margin-bottom: 5px;
}

#contact p {
  margin-top: 0;
}

#career-objective p,
#field-of-interest p {
  margin-bottom: 10px;
}

#strengths ul {
  margin-left: 20px;
}

#education li {
  margin-bottom: 10px;
}

#projects ul ul {
  margin-left: 20px;
}

#projects h3 {
  margin-bottom: 5px;
}

#internship li {
  margin-bottom: 10px;
}

#technical-expertise ul {
  margin-left: 20px;
}
