body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h1, h2 {
    color: #333;
  }
  
  ul {
    list-style-type: none;
  }
  
  #projects li {
    margin-bottom: 5px;
  }
  
  #contact p {
    margin-top: 0;
  }
  